{% load static %}

{% block cabeca %}

<div id="wrapper">
  <!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">

                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Principal</a></li>
                        <li><a href="advogado.html">O advogado</a></li>
                        <li><a href="services.html">Artigos</a></li>
                        <li><a href="portfolio.html">Notícias</a></li>
                        <li><a href="pricing.html">Jurisprudência</a></li>
                        <li><a href="contact.html">Comentários</a></li>
                        <li><a href="contact.html">Contatos</a></li>
                    </ul>
                </div>
            </div>
        </div>
  </header>
  <!-- end header -->
</div>
{% endblock %}