{% load static %}

{% block conteudo %}


<div id="wrapper">
  <section id="featured">

        <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
                <li>
                    <img src="static 'advogado/img/slides/0.jpg' %}" alt="imagem Breguedo" />
              </li>
              <li>
                    <img src="{% static 'advogados/img/slides/1.jpg' %}" alt="imagem justiça" />
              </li>
              <li>
                    <img src="{% static 'advogado/img/slides/aj.jpg' %}" alt="imagem artigos" />
              </li>
              <li>
                    <img src="{% static 'advogado/img/slides/2.jpg' %}" alt="imagem justiça" />
              </li>
              <li>
                    <img src="{% static 'advogado/img/slides/jc.jpg' %}" alt="imagem jurisprudencia" />
              </li>
              <li>
                    <img src="{% static 'advogado/img/slides/3.jpg' %}" alt="imagem justiça" />
              </li>
              <li>
                    <img src="{% static 'advogado/img/slides/v.jpg' %}" alt="imagem videos" />
            </li>
            <li>
                    <img src="{% static 'advogado/img/slides/4.jpg' %}" alt="imagem justiça" />
            </li>
            <li>
                    <img src="{% static 'advogado/img/slides/art.jpg' %}" alt="imagem arte" />
              </li>
            <li>
                        <img src="{% static 'advogado/img/slides/5.jpg' %}" alt="imagem justice" />
            </li>
            <li>
                    <img src="{% static 'advogado/img/slides/dc.jpg' %}" alt="imagem direitocrianca" />
              </li>
            <li>
                        <img src="{% static 'advogado/img/slides/6.jpg' %}" alt="imagem justice" />
            </li>
            <li>
                    <img src="{% static 'advogado/img/slides/p.jpg' %}" alt="imagem poesia" />
            </li>
        </ul>
    </div>
      <!-- end slider -->

  </section>

  <div class="content_white">
    <h2>Bem-vindo ao portal de<b>  Sidiney Breguedo</b></h2>
    <p>Advogado, poeta, escritor, cartunista e artista plástico.</p>
  </div>
</div>

{% endblock %}