{% extends "advogado/base.html" %}

{% load static %}

{% block conteudo %}

<div id="wrapper">
  <section id="featured">
    <div class="container">
      <section id="biografia">
        <div class="row-fluid">
          <h1><b style="color: white">Lista de Desenhos Disponíveis:</b></h1>
        </div>
          {% if desenho_ek_list %}
              <ol style="color: white">
              {% for desenho_ek in desenho_ek_list %}
                  <li><h1><a href="{% url 'desenho_ek_detalhe' desenho_ek.id %}"><b>{{ desenho_ek.titulo }}</b></a></h1></li>
              {%endfor %}
               </ol>
           {% else %}
                  <h1><b>Nenhum Desenho disponível!</b></h1>
            {% endif %}
      </section>
    </div>
  </section>
</div>

{% include "advogado/links.html" %}

{% endblock %}