{% extends 'advogado/base.html' %}

{% block title %}
<title>{{ advogado.title }}</title>
{% endblock %}

{% block conteudo %}
<div class="container">
    <h1><b>{{ rasc.titulo }}</b></h1>
    <h2><b>{{ rasc.subtitulo }}</b></h2>

        <div class="img"><img style="float:left; text-align:justify; margin-right: 30px" src="{{ rasc.imagem_url|default_if_none:'#' }}" alt="" width="300"/>
            <div class="text" <p><b>{{ rasc.comentario }} </b></p>
            </div>
        </div>
    <hr>
</div>

{% include "advogado/links.html" %}

{% endblock %}