{% extends "advogado/base.html" %}

{% load static %}

{% block conteudo %}

<div id="wrapper">
  <section id="featured">
    <div class="container">
      <section id="biografia">
        <div class="row-fluid">
          <h1><b style="color: white">Lista de Quadrinhos Disponíveis:</b></h1>
        </div>
          {% if quadrinho_list %}
              <ol style="color: white">
              {% for quadrinho in quadrinho_list %}
                  <li><h1><a href="{% url 'quadrinhoDetalhe' quadrinho.id %}"><b>{{ quadrinho.titulo }}</b></a></h1></li>
              {%endfor %}
               </ol>
           {% else %}
                  <h1><b>Não existem Quadrinhos disponíveis!</b></h1>
            {% endif %}
      </section>
    </div>
  </section>
</div>

{% include "advogado/links.html" %}

{% endblock %}