{% extends "advogado/base.html" %}

{% load static %}

{% block conteudo %}

<div id="wrapper">
  <section id="featured">
    <div class="container">
      <section id="biografia">
        <div class="row-fluid">
          <h1><b style="color: white">Lista de Rascunhos (Estudos) Disponíveis:</b></h1>
        </div>
          {% if plast_list %}
              <ol style="color: white">
              {% for rasc in rasc_list %}
                  <li><h1><a href="{% url 'rasc_detalhe' rasc.id %}"><b>{{ rasc.titulo }}</b></a></h1></li>
              {%endfor %}
               </ol>
           {% else %}
                  <h1><b>Nenhuma Rascunho (estudo) disponível!</b></h1>
            {% endif %}
      </section>
    </div>
  </section>
</div>

{% include "advogado/links.html" %}

{% endblock %}